body {
  font-family: Lato, Helvetica, "Sans serif";
  color:#404146;
  text-align: left;
}

li {
  list-style: none;
}

.header {
  background-color: white;
  color: black;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight:700;
  font-family: "Sans Serif"
  letter-spacing: 10px;
  padding: 25px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
  float: right;
}

.header-list a {
  text-decoration: none;
  color: black;
}

/* Works */

.copy-container {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.copy-container h1 {
  font-size: 140px;
  margin-bottom: 0px;
  letter-spacing: 10px;
  text-align: center;
}

.contents-works {
  height: 700px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contents-works h3 {
  font-size: 68px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.contents-works-item {
  float: left;
  width: 30%;
  padding-left: 50px;
}

.contents-works-item img{
  height: 300px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
  padding: 20px;
  align-items: left;
}

.contents-works-item p {
  font-size: 24px;
  margin-top: 30px;
  text-align: left;
  padding-left: 70px;
}

/* Writing */

.copy-container {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.copy-container h1 {
  font-size: 140px;
  margin-bottom: 0px;
  margin-top: 10px;
  letter-spacing: 10px;
}

.contents-writing {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contents-writing h3 {
  font-size: 68px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}

.contents-writing-item {
  padding-left: 40px;
  text-align: center;
}

.contents-writing-item a:link {
  font-size: 25px;
  color: grey;
}


/* About */
.about { 
  font-size: 50px;
  text-align: right;
  height: 100px;
  padding: 40px 30px;
}

/*.about h3 {
  float: right;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}*/

.about p {
  padding-right: 0px;
  margin-top:10px;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: right;
}


/* Contact */
.contact-form {
  height: 500px;
  padding-top: 180px;
  padding-bottom: 80px;
  margin-top: 100px;
}

.contact-title {
  font-size: 50px;
  padding-bottom: 0px;
  text-align: center;
}

input, textarea {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 500px;
  padding:20px;
  font-size: 18px;
  border: 2px solid gray;
  background-color: #ffffff;
  border-radius: 3px;
  text-align: left;
}

::placeholder {
  font-family: "Helvetica";
  color:#7C7D83;
  font-size: 18px;
}

.contact-submit{
  width: 95px;
  height: 75px;
  margin-left: 720px;
  background-color: #D3D3D3;
  color:#4f4f4f;
  font-size: 20px;
  text-align: center;
}

.contact-form p{
  font-size: 15px;
  margin-left: 500px;
}

/* Footer */
.footer {
  background-color: white;
  color: black;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  text-align: center;
  font-size: 16px;
  margin-left: 50px;
}

